<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Vacation Catalog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>My Vacation Catalog</h1>
    <a href='/places/new'>Add a new vacation</a>
    <a href='/places'>View catalog</a>
  </body>
</html>